/*==================== PROJECTS ====================*/
.projects__container {
    overflow: initial;
}

.project__content {
    padding: 0 1.5rem;
    display: flex;
    align-items: center;
}

.project__img {
    width: 265px;
    border-radius: 0.5rem;
    margin-right: 1.5rem; /* Margin between image and content */
}

.project__info {
    flex: 1; /* Grow to fill available space */
}

.project__title {
    color: #000;
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-0-5);
}

.project__description {
    color: #000;
    margin-bottom: var(--mb-0-75);
}

.project__button:hover .button__icon {
    transform: translateX(0.25rem);
}

.swiper-button-prev::after,
.swiper-button-next::after {
    content: "";
}

.swiper-project-icon {
    font-size: 2rem;
    color: var(--first-color);
}

.swiper-button-prev {
    left: -0.5rem;
}

.swiper-button-next {
    right: -0.5rem;
}

.swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: -2.5rem;
}

.swiper-pagination-bullet-active {
    background-color: var(--first-color);
}

.swiper-button-prev,
.swiper-button-next,
.swiper-pagination-bullet {
    outline: none;
}

/* Responsive Design */

/* For small devices */
@media screen and (max-width: 576px) {
    .project__content {
        flex-direction: column;
        align-items: flex-start;
    }

    .project__img {
        margin-right: 0;
        margin-bottom: 1rem; /* Add space between image and content on small screens */
    }
}

/* For medium devices */
@media screen and (min-width: 768px) {
    .project__img {
        width: 320px; /* Adjust image width for medium screens */
    }
}

/* For large devices */
@media screen and (min-width: 1024px) {
    .project__img {
        width: 400px; /* Adjust image width for large screens */
    }
}
